@media only screen and (max-width: 500px) {
    html{
        font-size: 18px;
    }
    .sections{
        width: 100%;
        margin: 10px;
    }
    .btn-mostrar{
        border-radius: 10px;
        margin-top: 10px;
        visibility: visible;
        border: 0.5px solid black;
        height: 20px;
        position: fixed;
        top: 0px;
        width: 110px;
        background-color: #C3922E;
        text-align: center;
    }
    .lateral{
        background-color: rgb(197, 197, 197);
        margin-top: 40px;
        border-radius: 5px;
        width: 200px;
        height: 90%;        
    }
}
@media only screen and (max-width: 500px) {
    html{
        font-size: 15px;
    }
}